{
    "version": "2018-05-29",
    "operation": "DeleteItem",
    "key": {
        "pk": $util.dynamodb.toDynamoDBJson($ctx.args.pk),
        "sk": $util.dynamodb.toDynamoDBJson($ctx.args.sk)
    }
}
