{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "productId": $util.toJson($ctx.arguments.productId),
    "provisioningArtifactId": $util.toJson($ctx.arguments.provisioningArtifactId)
  }
}
